<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'reset.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="light" class="ion-padding">
    <form [formGroup]="resetPasswordForm">
      <ion-item color="light">
        <ion-label position="stacked">{{'reset.email' | translate}}</ion-label> <ion-input
        formControlName="email"
        type="email"
        placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched"
        >
        </ion-input> </ion-item>
        <ion-item color="light"
        class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched"
        >
        <ion-label>{{'reset.please' | translate}}.</ion-label>
      </ion-item>
      <ion-button
      expand="block" (click)="resetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid"
      >
      {{'reset.reset' | translate}}
      </ion-button> 
    </form>
  </ion-card>
</ion-content>
