<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489467683111-rv1p5sg322mqnu8c9sup3vk4r32jmojh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489467683111-rv1p5sg322mqnu8c9sup3vk4r32jmojh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489467683111-kim2lauqob6shtomcpatoerqlpgjj1b9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzvKtwZldMFE41qkLim_oVY4aYkVYQw3I</string>
	<key>GCM_SENDER_ID</key>
	<string>489467683111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digibytecafe</string>
	<key>PROJECT_ID</key>
	<string>digicafe-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>digicafe-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489467683111:ios:993b358490cc9f328f4902</string>
	<key>DATABASE_URL</key>
	<string>https://digicafe-dashboard.firebaseio.com</string>
</dict>
</plist>