.business-logo {
    float: right; 
    border-radius: 5px;    
}

p {
    margin: 0px;
}

.light {
    color: var(--ion-color-primary);
    font-size: 1.1em;
    margin: 0px;
}

.line{
    padding-top:7px;
    border-bottom: 1px solid var(--ion-color-primary);
}