<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-btn" (click)="backWarning()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{'transact.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollx="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{ this.business }}</p>
        <p class="sub" *ngIf="this.fiat === 'USD'">{{ this.symbol }} {{'transact.market' | translate}}: ${{ this.price | number: '1.2-4' }}</p>
        <p class="sub" *ngIf="this.fiat != 'USD'">{{ this.symbol }} {{'transact.market' | translate}}: {{this.fiat}}{{ this.price | number: '1.2-4' }}</p>
        <p class="sub" *ngIf="this.optionalTax">{{'transact.subtotal' | translate}}: {{ this.subtotal2 | number : '1.2-2'}}</p>
        <p class="sub" *ngIf="this.optionalTax">{{'transact.tax' | translate}}: {{ this.finalTax | number : '1.2-2'}}</p>
        <p *ngIf="this.fiat === 'USD'">{{'transact.total' | translate}}: ${{ this.total | number : '1.2-2'}}</p>
        <p *ngIf="this.fiat != 'USD'">{{this.fiat}} {{'transact.total' | translate}}: {{ this.total | number : '1.2-2'}}</p>
      </ion-col>
      <ion-col *ngIf="this.businessEmail != null">
        <img class="business-logo" src="{{this.logo}}"/>
      </ion-col>
    </ion-row>
  <div class="line"></div>
  </ion-grid>
  <div class="due-div">
    <p class="center">- {{this.coin}} {{'transact.due' | translate}} -</p>
    <div class="dgb-due">
      <ion-item *ngIf="this.coin === 'bitcoin'" lines="none">
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/btc@2x.png">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-8' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.coin === 'litecoin'" lines="none">
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/ltc@2x.png">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-8' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.coin === 'ethereum'" lines="none">
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/eth.svg">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-8' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.coin === 'tether'" lines="none">
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/usdt.png">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-6' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.coin === 'multi-collateral-dai'" lines="none">
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/dai.png">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-6' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.coin === 'usd-coin'" lines="none">
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/usdc.png">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-6' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.coin === 'digibyte'" lines="none"> 
        <ion-label text-center>
          <ion-avatar slot="start">
            <img src="../../assets/dgb@2x.png">
          </ion-avatar>
          <h1 class="dgb-total"><ion-spinner *ngIf="searching" name="dots"></ion-spinner>{{ this?.amount | number : '1.2-4' }}</h1>
        </ion-label>
      </ion-item>
    </div>
    <ion-card color="light" class="card ion-padding">
      <div *ngIf="this?.amount" class="qr-code">
        <qrcode [qrdata]="this?.uri" [width]="225" [errorCorrectionLevel]="'M'" [elementType]="'svg'" [colorDark]="'#182650'"></qrcode>
      </div>
      <p class="inner-card">{{'transact.click' | translate}} {{this.coin}} {{'transact.wallet' | translate}}.</p>
      <ion-spinner class="spinnerCenter" *ngIf="this.searching2" name="crescent"></ion-spinner>
      <p *ngIf="this.searching2" class="inner-card">{{'transact.checking' | translate}}...<ion-spinner name="dots"></ion-spinner></p>
    </ion-card>
    <hr>
  </div>
  <div *ngIf="this.timeOut === true" class="check" padding>
    <ion-button  (click)="checkBlockchain(this.address, this.coin)" shape="round" color="primary" expand="block" [disabled]="!this.uri" (click)="checkConfirms()">
      {{'transact.bchain' | translate}}
    </ion-button>
  </div>
</ion-content>
