<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>{{'method.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card (click)="selectCoin('digibyte')">
      <ion-avatar>
        <img src="../../assets/dgb@2x.png">
      </ion-avatar>
      <p class="start">DigiByte</p>
      <p class="end">{{'method.select' | translate}}</p>
    </ion-card>
    <ion-card (click)="selectCoin('litecoin')" text-wrap>
      <ion-avatar item-start>
        <img src="../../assets/ltc@2x.png">
      </ion-avatar>
      <p class="start">Litecoin</p>
      <p class="end">{{'method.select' | translate}}</p>
    </ion-card>
    <ion-card (click)="selectCoin('bitcoin')" text-wrap>
      <ion-avatar item-start>
        <img src="../../assets/btc@2x.png">
      </ion-avatar>
      <p class="start">Bitcoin</p>
      <p class="end">{{'method.select' | translate}}</p>
    </ion-card>
    <!-- <ion-item (click)="selectCoin('card')" text-wrap>
      <ion-icon name="card" color="primary" item-start></ion-icon>
      <p>Card Payment</p>
      <p slot="end">Select</p>
    </ion-item> -->
  </ion-list>
  <div class="ion-padding">  
    <ion-button shape="round" fill="outline" expand="block" (click)="close()">
      {{'method.cancel' | translate}}
    </ion-button>
  </div> 
</ion-content>