ion-avatar{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
    height: 33px;
    width: 33px;
    float: left;
}

.start{
    float: left;
    margin-top: 22px;
    color: #333333;
}

.end{
    float: right;
    margin-top: 22px;
    margin-right: 12px;
    color: #333333;
}

ion-card{
    height: 60px;
    border: solid 1px #bebebe;
    border-radius: 10px;
    box-shadow: none !important;
}