<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'reports.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="emailData">
  <p class="alert" *ngIf="transactions?.length === 0">{{'reports.nodata' | translate}}.</p>
  <ion-list *ngIf="transactions">
    <ion-card color="primary" *ngFor="let tx of transactions">
      <ion-grid>
        <ion-row>
          <ion-col size="2" size-xs>
            <div class="title">
              {{'reports.date' | translate}}
            </div>
            <p class="list-p">{{ tx.date | date: 'M/dd/yy' }}</p>
          </ion-col>
          <ion-col size="3">
            <div class="title">
              TxID
            </div>
            <p *ngIf="tx.txId.length>0 && tx.coin === 'digibyte'" class="item-desc"><a href="https://digiexplorer.info/tx/{{tx.txId}}">{{tx.txId | slice: 0:10}}</a></p>
            <p *ngIf="tx.txId.length>0 && tx.coin === 'bitcoin'" class="item-desc"><a href="https://insight.bitpay.com/tx/{{tx.txId}}">{{tx.txId | slice: 0:10}}</a></p>
            <p *ngIf="tx.txId.length>0 && tx.coin === 'litecoin'" class="item-desc"><a href="https://insight.litecore.io/tx/{{tx.txId}}">{{tx.txId | slice: 0:10}}</a></p>
            <p *ngIf="tx.txId.length>0 && tx.coin === 'ethereum' || tx.coin === 'tether' || tx.coin === 'multi-collateral-dai' || tx.coin === 'usd-coin'" class="item-desc"><a href="https://etherscan.io/tx/{{tx.txId}}">{{tx.txId | slice: 0:10}}</a></p>
            <!-- <p class="txid">{{ tx.txId }}</p> -->
          </ion-col>
          <ion-col size="2" size-xs>
            <div class="title">
              {{'reports.rate' | translate}}
            </div>
            <p class="list-p">{{ tx.dgbPrice | number : '1.2-4' }}</p>
          </ion-col>
          <ion-col size="2" size-xs>
            <div class="title">
              {{'reports.currency' | translate}}
            </div>
            <p class="list-p">{{ tx.usdTotal | number : '1.2-2' }}</p>
          </ion-col>
          <ion-col size="1" size-xs>
            <div class="title">
              Crypto
            </div>
            <p class="list-p">{{ tx.dgbAmount | number : '1.2-6' }}</p>
          </ion-col>
          <ion-col size="2" size-xs>
            <div class="title">
              {{'reports.items' | translate}}
            </div>
            <p class="list-p">{{ tx.items[0] }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>    
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div>
      <ion-item>
        <ion-segment scrollable>
          <h2 class="item-desc3">{{'reports.currency' | translate}}: {{ this.sum | number: '1.2-2' }}</h2> 
          <p class="item-desc3">DGB: {{ this.dgbSum | number: '1.2-6' }}</p>
          <p class="item-desc3">LTC: {{ this.ltcSum | number: '1.2-6' }}</p>
          <p class="item-desc3">BTC: {{ this.btcSum | number: '1.2-8' }}</p>
          <p class="item-desc3">ETH: {{ this.ethSum | number: '1.2-8' }}</p>
          <p class="item-desc3">DAI: {{ this.daiSum | number: '1.2-2' }}</p>
          <p class="item-desc3">USDT: {{ this.usdtSum | number: '1.2-2' }}</p>
          <p class="item-desc3">USDC: {{ this.usdcSum | number: '1.2-2' }}</p>
        </ion-segment>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="transactions?.length === 0" expand="block" shape="round" (click)="downloadCSV()">CSV</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  [disabled]="transactions?.length === 0" expand="block" shape="round" fill="outline" color="danger" (click)="confirmDelete()">{{'reports.delete' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>  
  </ion-toolbar>
</ion-footer>
