ion-content{
    --ion-background-color: var(--ion-color-primary);
}

.btn {
    margin-top:25px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--ion-color-light);
}

.splash-logo {
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 200px;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}

.error-message { 
  min-height: 2.2rem;
  ion-label { 
      margin: 2px 0; font-size: 60%; color: #ff6153;
} 

.item-inner {
  border-bottom: 0 !important; }
}

// ion-segment{
//     --background: var(--ion-color-light);
// }

// .segment{
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     p{
//         color: #ffffff;
//     }
// }

.trns{
    min-width: 300px;
}

ion-select{
    color: #ffffff;
}