<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons> -->
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="splash-logo" src='assets/digicafe-logo.svg'>
  <div class="segment ion-padding">
    <!-- <ion-segment color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="en">
        <ion-label>English</ion-label>
      </ion-segment-button>
      <ion-segment-button value="es">
        <ion-label>Español</ion-label>
      </ion-segment-button>
    </ion-segment> -->
    <!-- <p>English</p><ion-toggle [(ngModel)]="this.language" value="true" (ionChange)="segmentChanged($event)"></ion-toggle><p>Español</p> -->
    <ion-item class="trns">
      <ion-label color="light">{{'settings.language' | translate}}</ion-label>
      <ion-select multiple="false" [(ngModel)]="this.language" (ionChange)="saveLanguage($event)">
        <ion-select-option value="en">English</ion-select-option> 
        <ion-select-option value="es">Español</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <h3>{{'login.title' | translate}}</h3>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card class="card" color="light" class="ion-padding">
          <form [formGroup]="loginForm">
            <ion-item color="light">
              <ion-label position="stacked">{{'login.email' | translate}}</ion-label>
              <ion-input
                value="{{this.username}}"
                formControlName="email"
                type="email"
                placeholder="Your email address"
                [class.invalid]="!loginForm.controls['email'].valid"
              >
              </ion-input>
            </ion-item>
            <ion-item
              class="error-message"
              *ngIf="!loginForm.controls['email'].valid"
            >
              <ion-label>{{'login.please' | translate}}.</ion-label>
            </ion-item>
          
            <ion-item color="light">
              <ion-label position="stacked">{{'login.password' | translate}}</ion-label>
              <ion-input
                formControlName="password"
                type="password"
                placeholder="Your password"
                [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched"
              >
              </ion-input>
            </ion-item>
            <ion-item
              class="error-message"
              *ngIf="!loginForm.controls['password'].valid
                && loginForm.controls['password'].touched"
            >
              <ion-label>{{'login.passwarn' | translate}}.</ion-label>
            </ion-item>
            
            <ion-button shape="round" class="btn" (click)="loginUser(loginForm)" expand="block" [disabled]="!loginForm.valid">
              {{'login.login' | translate}}
            </ion-button>
          </form>
              
          <ion-button expand="block" fill="clear" routerLink="/signup">
            {{'login.create' | translate}}
          </ion-button>
          
          <ion-button expand="block" fill="clear" routerLink="/reset-password">
            {{'login.forgot' | translate}} 🙁
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
