
.item-total{
    color: #315ca7;
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 0px;
    margin-right: 20px;
    text-align: right;
}

ion-icon {
    padding-top: 4px;
    padding-bottom: 4px;
}

.item-desc {
    color: #315ca7;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 12px;
}

.item-desc-desc {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #333333;
}

ion-button {
    text-transform: inherit;
}
