<ion-content>
  <div class="content">
    <div class="center">
      <img class="splash-logo" src='assets/digicafe-logo.svg'>
      <div class="splash-intro">
        <p>{{'home.welcome' | translate}}</p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary" class="ion-padding">
    <div>
      <ion-button shape="round" color="light" (click)="toSettingsPage()" expand="block">
        {{'home.settings' | translate}}
      </ion-button>
    </div>
    <div class="buttons2"> 
      <!-- <ion-button *ngIf="this.in != true" color="light" shape="round" fill="outline" (click)="toLoginPage()" expand="block">
        Connect Dashboard
      </ion-button> -->
      <div *ngIf="this.in === true" class="splash-intro">
        <p>{{'home.notice' | translate}} 👍</p>
      </div>
    </div> 
  </ion-toolbar>
</ion-footer>
