ion-button {
    text-transform: inherit;
    font-size: 1.1em;
}

.bar{
    padding-top: 22px;
}

.item-desc {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #333333;
    padding-bottom:2px;
}

ion-text{
    padding: 0px;
}