.input{
    color: #666666;
}

ion-button {
    text-transform: inherit;
}

.password{
    -webkit-text-security: disc;
}

ion-avatar{
    margin-left: 0px;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.smallAvatar{
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.uphold{
    width: 150px;
}

ion-text{
    font-size: 0.8em;
}

.smallAddress{
    font-size: 0.7em;
}