<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="this.loggedin">
      <ion-button (click)="logOut()">{{'settings.logout' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{'settings.title' | translate}}</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="saveBusiness()"> 
      <ion-label>
        <p>{{'settings.bname' | translate}}</p>
        <ion-text>{{ this.business }}</ion-text>
        <ion-text *ngIf="!this.business">{{'settings.tap' | translate}} {{'settings.bname' | translate}}.</ion-text>
     </ion-label>
    </ion-item>
    <ion-item (click)="saveEmail()"> 
      <ion-label>
        <p>{{'settings.bemail' | translate}}</p>
        <ion-text>{{ this.businessEmail }}</ion-text>
        <ion-text *ngIf="!this.businessEmail">{{'settings.tap' | translate}} {{'settings.bemail' | translate}}.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item (click)="saveDigiByte()" *ngIf="!this.autoSell"> 
      <ion-avatar slot="start">
        <img src="../../assets/dgb@2x.png">
      </ion-avatar>
      <ion-label>
        <p>DigiByte {{'settings.address' | translate}}</p>
        <ion-text>{{ this.externalAddress }}</ion-text>
        <ion-text *ngIf="!this.externalAddress">{{'settings.tap' | translate}} DigiByte {{'settings.address' | translate}}.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item (click)="saveLitecoin()" *ngIf="!this.autoSell"> 
      <ion-avatar slot="start">
        <img src="../../assets/ltc@2x.png">
      </ion-avatar>
      <ion-label>
        <p>Litecoin {{'settings.address' | translate}}</p>
        <ion-text>{{ this.ltcAddress }}</ion-text>
        <ion-text *ngIf="!this.ltcAddress">{{'settings.tap' | translate}} Litecoin {{'settings.address' | translate}}.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item (click)="saveBitcoin()" *ngIf="!this.autoSell"> 
      <ion-avatar slot="start">
        <img src="../../assets/btc@2x.png">
      </ion-avatar>
      <ion-label>
        <p>Bitcoin {{'settings.address' | translate}}</p>
        <ion-text>{{ this.btcAddress }}</ion-text>
        <ion-text *ngIf="!this.btcAddress">{{'settings.tap' | translate}} Bitcoin {{'settings.address' | translate}}.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item (click)="saveEthereum()" *ngIf="!this.autoSell"> 
      <ion-avatar slot="start">
        <img src="../../assets/eth.svg">
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="../../assets/usdt.png">
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="../../assets/usdc.png">
      </ion-avatar>
      <ion-label>
        <p>Ethereum {{'settings.address' | translate}}</p>
        <ion-text class="smallAddress">{{ this.ethAddress }}</ion-text>
        <ion-text *ngIf="!this.ethAddress">{{'settings.tap' | translate}} Ethereum {{'settings.address' | translate}}.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.bittrexKey">
      <ion-label>{{'settings.auto' | translate}} Bittrex</ion-label>
      <ion-toggle slot="end" color="primary" (ionChange)="autoSellActive()" [(ngModel)]="autoSell" checked="true"></ion-toggle>
    </ion-item>
    <ion-item (click)="saveBittrexKey()"> 
      <ion-label>
        <p>Bittrex API {{'settings.key' | translate}}</p>
        <ion-text class="password">{{ this.bittrexKey }}</ion-text>
        <ion-text *ngIf="!this.bittrexKey">{{'settings.tap' | translate}} Bittrex API {{'settings.key' | translate}}.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.autoSell && this.bittrexKey"> 
      <ion-avatar slot="start">
        <img src="../../assets/dgb@2x.png">
      </ion-avatar>
      <ion-label>
        <p>DigiByte Bittrex {{'settings.address' | translate}}</p>
        <ion-text>{{ this.dgbBittrexAddress }}</ion-text>
        <ion-button size ="small" fill="outline" (click)="saveDigiByteBittrex()" *ngIf="!this.dgbBittrexAddress">Fetch {{'settings.address' | translate}}</ion-button>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.autoSell && this.bittrexKey"> 
      <ion-avatar slot="start">
        <img src="../../assets/ltc@2x.png">
      </ion-avatar>
      <ion-label>
        <p>Litecoin Bittrex {{'settings.address' | translate}}</p>
        <ion-text>{{ this.ltcBittrexAddress }}</ion-text>
        <ion-button size ="small" fill="outline" (click)="saveLitecoinBittrex()" *ngIf="!this.ltcBittrexAddress">Fetch {{'settings.address' | translate}}</ion-button>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.autoSell && this.bittrexKey"> 
      <ion-avatar slot="start">
        <img src="../../assets/btc@2x.png">
      </ion-avatar>
      <ion-label>
        <p>Bitcoin Bittrex {{'settings.address' | translate}}</p>
        <ion-text>{{ this.btcBittrexAddress }}</ion-text>
        <ion-button size ="small" fill="outline" (click)="saveBitcoinBittrex()" *ngIf="!this.btcBittrexAddress">Fetch {{'settings.address' | translate}}</ion-button>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.autoSell && this.bittrexKey"> 
      <ion-avatar slot="start">
        <img src="../../assets/eth.svg">
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="../../assets/usdt.png">
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="../../assets/usdc.png">
      </ion-avatar>
      <ion-label>
        <p>Ethereum Bittrex {{'settings.address' | translate}} & Tokens</p>
        <ion-text class="smallAddress">{{ this.ethBittrexAddress }}</ion-text>
        <ion-button size="small" fill="outline" (click)="saveEthereumBittrex()" *ngIf="!this.ethBittrexAddress">Fetch {{'settings.address' | translate}}</ion-button>
      </ion-label>
    </ion-item>
    <!-- <ion-item (click)="connectUphold()">
      <div slot="end" class="uphold">
        <img src="../../assets/uphold.png">
      </div>
      <ion-label>
          <ion-text class="address">Uphold</ion-text>
      </ion-label>
    </ion-item> -->
    <ion-item class="trns">
      <ion-label color="dark">{{'settings.currency' | translate}}</ion-label>
      <ion-select multiple="false" [(ngModel)]="this.currency" (ionChange)="saveCurrency()">
        <ion-select-option>USD</ion-select-option> 
        <ion-select-option>AUD</ion-select-option>
        <ion-select-option>BGN</ion-select-option>
        <ion-select-option>BRL</ion-select-option>
        <ion-select-option>CAD</ion-select-option>
        <ion-select-option>CHF</ion-select-option>
        <ion-select-option>CZK</ion-select-option>
        <ion-select-option>DKK</ion-select-option>
        <ion-select-option>EUR</ion-select-option>
        <ion-select-option>GBP</ion-select-option>
        <ion-select-option>HKD</ion-select-option>
        <ion-select-option>HRK</ion-select-option>
        <ion-select-option>IDR</ion-select-option>
        <ion-select-option>ILS</ion-select-option>
        <ion-select-option>ISK</ion-select-option>
        <ion-select-option>JPY</ion-select-option>
        <ion-select-option>KRW</ion-select-option>
        <ion-select-option>MXN</ion-select-option>
        <ion-select-option>MYR</ion-select-option>
        <ion-select-option>NOK</ion-select-option>
        <ion-select-option>NZD</ion-select-option>
        <ion-select-option>PHP</ion-select-option>
        <ion-select-option>PLN</ion-select-option>
        <ion-select-option>RON</ion-select-option>
        <ion-select-option>RUB</ion-select-option>
        <ion-select-option>SEK</ion-select-option>
        <ion-select-option>SGD</ion-select-option>
        <ion-select-option>THB</ion-select-option>
        <ion-select-option>TRY</ion-select-option>
        <ion-select-option>ZAR</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'settings.optional-tax' | translate}}</ion-label>
      <ion-toggle color="primary" (ionChange)="editOptionalTax()" [(ngModel)]="optionalTax" checked="true"></ion-toggle>
    </ion-item>
    <ion-item class="trns" *ngIf="optionalTax === true">
      <ion-label>{{'settings.local-tax' | translate}}</ion-label>
      <ion-input class="input" debounce="1500" [(ngModel)]="taxRate" (ionChange)="editTaxRate()" placeholder="Enter Decimal: 10% = 0.10"></ion-input>
    </ion-item>
    <ion-item class="trns">
      <ion-label color="dark">{{'settings.language' | translate}}</ion-label>
      <ion-select multiple="false" [(ngModel)]="this.language" (ionChange)="saveLanguage($event)">
        <ion-select-option value="en">English</ion-select-option> 
        <ion-select-option value="es">Español</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [routerLink]="['/account']" routerDirection="forward" detail="true">  
      <ion-label>
        <p class="input">Account Details</p>
        <ion-text>Change username or password</ion-text>
        <!-- <ion-text *ngIf="this.username === null || this.username === ''">Your unique username.</ion-text> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button id="transact" shape="round" expand="block" [disabled]="!this.externalAddress && !this.businessEmail" (click)="toListMasterPage()">{{'settings.transact' | translate}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" shape="round" fill="outline" (click)="goToHelp()" color="medium">{{'settings.help' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-footer>
