.input{
    color: #666666;
}

ion-button {
    text-transform: inherit;
}

.password{
    -webkit-text-security: disc;
}

ion-avatar{
    margin-left: 0px;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}  

.uphold{
    width: 150px;
}